In [11]:
import numPy as np
import csv
import pandas as pd

df = pd.read_hdf('fixed-dd-comment-profile-clean-with-c3po.hdf')
df.head(10)

,comment_id,comment_date,comment_msg,deceased_id,date_death,comment_postmortem_ind,LIWC_1ST_PLURAL,LIWC_1ST_SINGULAR,LIWC_3RD_PLURAL,LIWC_3RD_SINGULAR,...,Empath_giving,Empath_contentment,Empath_writing,Empath_rural,Empath_positive_emotion,Empath_musical,Vader_compound,Vader_neg,Vader_neu,Vader_pos
0,1,2010-04-03 02:42:00,miss you and love you tell we miss him and w...,3,2010-01-07,1,0.074074,0.074074,0.000000,0.074074,...,0.0,0.0,0.0,0.0,0.071429,0.0,0.8020,0.095,0.655,0.250
1,2,2010-03-20 16:21:00,there is not a day that goes by that i don't t...,3,2010-01-07,1,0.024096,0.084337,0.012048,0.012048,...,0.0,0.0,0.0,0.0,0.037500,0.0,0.9263,0.098,0.687,0.215
2,3,2010-02-24 01:29:00,we miss you soo much we wish you didnt have t...,3,2010-01-07,1,0.208333,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.041667,0.0,0.3067,0.065,0.777,0.157
3,4,2010-02-21 02:46:00,looove you uncle forever and always,3,2010-01-07,1,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0000,0.000,1.000,0.000
4,5,2010-02-10 02:26:00,missss youuuu aloooooooooot,3,2010-01-07,1,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0000,0.000,1.000,0.000
5,6,2010-02-02 00:59:00,love you and miss you i wish you were here to ...,3,2010-01-07,1,0.032258,0.096774,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.030303,0.0,0.9246,0.041,0.622,0.337
6,7,2010-01-30 03:03:00,i love you heart,3,2010-01-07,1,0.000000,0.250000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.250000,0.0,0.6369,0.000,0.323,0.677
7,8,2010-01-24 19:27:00,everything would be so much better if you were...,3,2010-01-07,1,0.000000,0.055556,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.050000,0.0,0.3774,0.077,0.770,0.153
8,11,2010-01-16 22:05:00,missssssssss you beyond words uncle i think a...,3,2010-01-07,1,0.000000,0.052632,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.6124,0.000,0.800,0.200
9,12,2010-01-14 22:57:00,rip we miss you alot and we love you with al...,3,2010-01-07,1,0.133333,0.022222,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.045455,0.0,0.7096,0.068,0.782,0.150

In [12]:
#Check length before clean
len(df)

1056720

In [29]:
#df.drop('Empath_musical', axis=1, inplace=True)
df.drop('Empath_rural', axis=1, inplace=True) 
df.drop('Empath_writing', axis=1, inplace=True)
df.drop('Empath_contentment', axis=1, inplace=True)
df.drop('Empath_giving', axis=1, inplace=True)
df.head(3)

,comment_id,comment_date,comment_msg,deceased_id,date_death,comment_postmortem_ind,LIWC_1ST_PLURAL,LIWC_1ST_SINGULAR,LIWC_3RD_PLURAL,LIWC_3RD_SINGULAR,...,Empath_feminine,Empath_weapon,Empath_children,Empath_monster,Empath_ocean,Empath_positive_emotion,Vader_compound,Vader_neg,Vader_neu,Vader_pos
0,1,2010-04-03 02:42:00,miss you and love you tell we miss him and w...,3,2010-01-07,1,0.074074,0.074074,0.000000,0.074074,...,0.0,0.0,0.000,0.0,0.0,0.071429,0.8020,0.095,0.655,0.250
1,2,2010-03-20 16:21:00,there is not a day that goes by that i don't t...,3,2010-01-07,1,0.024096,0.084337,0.012048,0.012048,...,0.0,0.0,0.025,0.0,0.0,0.037500,0.9263,0.098,0.687,0.215
2,3,2010-02-24 01:29:00,we miss you soo much we wish you didnt have t...,3,2010-01-07,1,0.208333,0.000000,0.000000,0.000000,...,0.0,0.0,0.000,0.0,0.0,0.041667,0.3067,0.065,0.777,0.157

In [25]:
df.ix[df.loc[6] >= 1]

#ris.ix[iris.iloc[,:0] >= 7,]

TypeError: Cannot compare type 'Timestamp' with type 'int'